.footer {
  border-top: 1px solid #E6E8EC;
}

:global(.dark-mode) .footer {
  border-color: #23262F;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .container {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .body {
    position: relative;
    padding-top: 32px;
  }
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.5%;
          flex: 0 0 30.5%;
  padding: 80px 86px 64px;
}

@media only screen and (max-width: 1339px) {
  .col {
    padding: 80px 64px 64px;
  }
}

@media only screen and (max-width: 1179px) {
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
            flex: 0 0 34%;
  }
}

@media only screen and (max-width: 1023px) {
  .col {
    padding: 64px 32px 48px;
  }
}

@media only screen and (max-width: 767px) {
  .col {
    padding: 32px 0;
    border-bottom: 1px solid #E6E8EC;
  }
  :global(.dark-mode) .col {
    border-color: #23262F;
  }
}

.col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39%;
          flex: 0 0 39%;
  padding-left: 0;
}

@media only screen and (max-width: 1179px) {
  .col:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media only screen and (max-width: 767px) {
  .col:first-child {
    display: block;
  }
}

.col:nth-child(3) {
  padding-right: 0;
}

.col:nth-child(2), .col:nth-child(3) {
  border-left: 1px solid #E6E8EC;
}

@media only screen and (max-width: 767px) {
  .col:nth-child(2), .col:nth-child(3) {
    border-left: none;
  }
}

:global(.dark-mode) .col:nth-child(2), :global(.dark-mode) .col:nth-child(3) {
  border-color: #23262F;
}

.logo {
  display: inline-block;
  margin-right: 160px;
}

@media only screen and (max-width: 1339px) {
  .logo {
    margin-right: 80px;
  }
}

@media only screen and (max-width: 1023px) {
  .logo {
    margin-right: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    margin: 0 0 32px;
  }
}

@media only screen and (max-width: 767px) {
  .picDesktop {
    display: none;
  }
}

.picMobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .picMobile {
    display: block;
  }
}

.item .category {
  display: none;
}

@media only screen and (max-width: 767px) {
  .item .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

.item .category svg {
  margin-left: auto;
  fill: #777E90;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media only screen and (max-width: 767px) {
  .item.active .category svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .item.active .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 767px) {
  .menu {
    display: none;
    padding-top: 40px;
  }
}

.link {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  color: #777E90;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.link:hover, .link.active {
  color: #23262F;
}

:global(.dark-mode) .link:hover, :global(.dark-mode) .link.active {
  color: #FCFCFD;
}

.link:not(:last-child) {
  margin-bottom: 24px;
}

.category {
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  font-size: 14px;
  line-height: 1.71429;
}

.info p:not(:last-child) {
  margin-bottom: 8px;
}

.info:not(:last-child) {
  margin-bottom: 24px;
}

.foot {
  padding: 25px 0 20px;
  border-top: 1px solid #E6E8EC;
}

@media only screen and (max-width: 767px) {
  .foot {
    padding: 56px 0 48px;
    border: none;
  }
}

:global(.dark-mode) .foot {
  border-color: #23262F;
}

.copyright {
  margin-right: auto;
  font-size: 12px;
  line-height: 1.66667;
  color: #777E90;
}

@media only screen and (max-width: 767px) {
  .copyright {
    margin: 0 0 24px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.social svg {
  fill: #777E90;
  -webkit-transition: fill .2s;
  transition: fill .2s;
}

.social:hover svg {
  fill: #23262F;
}

:global(.dark-mode) .social:hover svg {
  fill: #FCFCFD;
}

.social:not(:last-child) {
  margin-right: 24px;
}
/*# sourceMappingURL=Footer.module.css.map */